@import url("https://fonts.googleapis.com/css?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.font-pacifico {
    font-family: "Pacifico", cursive;
}

:root {
    --color-primary: #161b22;
    --color-secondary: #0d1117;
    --color-accent: #3b95d9;
}

* {
    transition: color ease 0.1s, background-color ease 0.1s;
}

body {
    background-color: #0d1117;
    font-family: "Roboto", sans-serif;
    color: #ffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
